<p id="notice"><%= notice %></p>

<h1>Appointment Dates</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_dates.each do |appointment_date| %>
      <tr>
        <td><%= appointment_date.date %></td>
        <td><%= link_to 'Show', appointment_date %></td>
        <td><%= link_to 'Edit', edit_appointment_date_path(appointment_date) %></td>
        <td><%= link_to 'Destroy', appointment_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment Date', new_appointment_date_path %>
