<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Enter your email"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter your password" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password_confirmation, placeholder: "Enter your password" %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter your name"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
