<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- need to auto populate -->

  <% if @current_patient%>
    <% if @current_patient.admin == false%>
    <div class="field">
      <%= f.hidden_field :patient_id, :value => @current_patient.id %>
    </div>
    <%else%>
    <div class="field">
      <%= f.label :patient_id %>
      <%= f.select :patient_id, Patient.all.collect {|x| [x.name, x.id]}%>
    </div>
    <%end%>
  <% end %>



  <div class="field">
    <%= f.label :doctor %>
    <%= f.select :doctor_id, Doctor.all.collect {|x| [x.name, x.id]}%>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.select :appointment_date_id, AppointmentDate.all.collect {|x| [x.date, x.id]}%>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.select :time_table_id, TimeTable.all.collect {|x| [x.time_table, x.id]}%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
